* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

/* TWO APPROACHES 1st One - Not used but keep my work, 2nd One - Used for this project

/* At first approach to this project - couldn't figure out why the footer wasn't in the spot it should be */
/* article{
  background-color: white;
}
.a{
  background: url(top-image.png) no-repeat top left;
  height: 271px;
  background-size: cover;
  border-top: 1mm solid red;
}

h1{
  background: url('logo.png') no-repeat;
  /* filter: drop-shadow(1px 3px 3px black);
  border-radius: 80px;
  box-shadow: 3px 5px 5px black;

}

.gradient{
  background: linear-gradient(to bottom, rgb(173, 170, 170, 0.2), rgb(255, 255, 255) 20%, rgb(255, 255, 255) 80%, rgb(173, 170, 170,0.2));
  background-color: white;
}

.c{
  background: url(bottom-image.png) no-repeat bottom left;
  background-size: cover;
  height: 271px;
  border-bottom: 1mm solid red;
} 
*/

/* Discovered I could condense and utilize css rules already done above */
article{
  background: url(top-image.png) no-repeat left top cover;
  background: linear-gradient(to bottom, rgba(173, 170, 170, 0.2), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(173, 170, 170,0.2)),
              url(top-image.png) no-repeat top center, 
              url(bottom-image.png) no-repeat bottom center;
  background-color: white;
  border-top: 1mm solid brown;
  border-bottom: 1mm solid brown;
}

h1{
  background: url('logo.png') no-repeat;
  /* filter: drop-shadow(1px 3px 3px black); */
  border-radius: 80px;
  box-shadow: 3px 5px 5px black;
}

/* Meat in the middle columns */

div{
  display: block;
}

/* *{
  margin: 0;
  padding: 0;
} */

Outer{
  text-align: center;
}

Inner{
  width: 960px;
  margin: 0;
}

.nav{
  clear:both;
  margin-left:30%;
  margin-right: 30%;
  margin-top: 25%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 69%;
  text-align: center;
  text-decoration: none;
}

ul{
  list-style-type: none;
  bottom: 0;
  margin: 0;
  padding: 0;
}

li{
  float:left;
  text-shadow: 1px 1px 2px black;
  margin-left: 1%;
  margin-right: 1%;
  padding: 2px;
  font-size: 12px;
  line-height: 10px;
  
}

li a:hover {
  text-decoration: none;
  color: #000
}
h2{
  text-align: center;
  font-size: 40px;
  line-height: 20px;
  font-family:'Courier New';
}

h4{
  margin: 10px 10px 5px 10px;
  font-size: 14px;
  line-height: 10px;
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

h5{
  margin: 5px 10px 20px 10px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 100;
}

hr{
  clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.columnbox{
  background-color: inherit;
  text-align: center;
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Column 1 */

.column1box{
  background-color: inherit;
  width:40%;
  margin-top: 1%;
  margin-bottom: 50%;
  margin-right: 0.5%;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
}

h3{
  font-family: 'Courier New';
  font-weight: 600px;
  text-align: justify;
}

p.content{
  font-family:'Arial Narrow';
  font-weight: 100;
  font-size: 12px;
  text-align:justify;
}


/* Column 2 */

.column2box{
  background-color: inherit;
  width:40%;
  margin-top: 1%;
  margin-bottom: 50%;
  margin-right: 10%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
}

/* Radio Form and Button */
table{
  width:100%;
  text-align: left;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

label{
  font-family:'Arial Narrow';
  font-weight: 100;
  font-size: 12px;
  text-align:justify;
}
input{
  text-align: justify;
}